body {
    background-image: url(https://i.pinimg.com/originals/72/77/a9/7277a97980f189d2e8f145d2edfd472a.jpg);
    background-size: 100%;
  
}

header {
    padding-bottom: 3%;
}

#name {
    font-size: 75px;
    color: #ff6666;
    font-family: 'Cinzel', serif;
}

.container-sm {
  opacity: 0.7;
}
.logo {
    display: block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    }

 button {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #ff3333;
    font-family: 'Cinzel', serif;
  }


  li {
      float: right;
  }

  a {
      color:white;
      font-family: 'Cinzel', serif;
    text-align: center;
  }

  h2{
      text-align: center;
      color: white;
      font-size: 50px
  }

  #copyright {
    font-size: 15px;
    color: #ff6666;
    font-family: 'Cinzel', serif;
  }

/*****ABOUT*****/
.bio {
  width: 800px;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  display: block;
  line-height: 25px;
  text-align: center;
  color: black;
  }

  /*****CONTACT*****/
  form {
    width: 800px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    display: block;
    line-height: 25px;
    text-align: center;
    color: black;
    }

     /*****PORTFOLIO*****/
  h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
  }

p {
  font-family: 'Quicksand', sans-serif;
    font-size: 18px;
  color: black;
}

.card {
  background-color: #ff6666; ;
  }

@media (min-width: 576px) {
  
}


@media (min-width: 768px) { 
  
 }


@media (min-width: 992px) { 
  
 }


@media (min-width: 1200px) { 
  
 }